OPENAI_API_KEY=your-OPENAI_API_KEY

LLM_NAME=Qwen3-VL-235B-A22B-Instruct-AWQ
LLM_BASE_URL=http://10.249.44.232:8000/v1

EMBEDDING_MODEL_NAME=Qwen3-Embedding-4B-c6172-merged
EMBEDDING_BASE_URL=http://10.249.42.202:8001/v1
